.createAdFormContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inputField, .selectField, .textareaField {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.selectField {
  min-height: 40px;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkboxGroup input {
  margin-right: 0.5rem;
}

.submitButton {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #005bb5;
}

.narrowInputField {
  width: calc(100% / 3); /* Установим ширину в 3 раза уже */
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.textareaField {
  resize: vertical;
  overflow-y: auto;
}