/* Сброс стилей браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Основные стили для всего приложения */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  a {
    color: #0070f3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }
  
  /* Общие стили для кнопок */
  button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb5;
  }