.searchBox {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.formControl {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 200px;
}

.selectField, .datePicker {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.datePicker {
  padding-left: 1.5rem; /* Чтобы иконка календаря не наезжала на текст */
}

@media screen and (max-width: 768px) {
  .searchBox {
    padding: 1rem;
  }

  .formControl {
    width: 100%;
    margin-bottom: 1rem;
  }

  .selectField, .datePicker {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .formControl {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .formControl {
    min-width: 250px;
  }
}